{{ $imagename := printf "%s*" (.Get "src") }}
{{ $imagealt := default "" (.Get "alt") }}
{{ $imagefile := path.Base (.Get "src") }}
{{ $imagewidth := default "100%" (.Get "max-width") }}
{{ $imageid := print $imagefile "-" ($imagename | base64Encode)}}
{{ $size := default "600x" (.Get "new-size")}}
{{/* $size := default "600x" (.Get "new-size")*/}}
{{ $imageoriginal := default (.Get "src") (.Page.Resources.GetMatch $imagename) }}
{{/* $imagethumbnail := $imageoriginal.Resize $size */}}

<figure style="max-width:{{ $imagewidth }};" class="pre-modal-figure">
    <img onclick="openModal(this)" class="pre-modal" id="{{ $imageid }}" src="{{ $imageoriginal }}" alt="{{ $imagealt }}">
    <figcaption>{{ $imagealt }}</figcaption>
</figure>

<div id="{{ $imageid }}-modal" class="modal">
  <span class="close" id="{{ $imageid }}-modal-close">&times;</span>
  <img class="modal-content" id="{{ $imageid }}-modal-img">
  <div class="modal-caption" id="{{ $imageid }}-modal-caption"> {{ $imagealt }} </div>
</div>
